@import './Navbar.css';
@import './Home.css';
@import './Projects.css';
@import './About.css';
@import './Contact.css';
@import './Footer.css';

body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.App {
  display: flex;
  flex-direction: column;
}

.App.dark-mode {
  background-color: #121212;
  color: #ffffff;
}
