.projects {
    padding: 2rem;
    background-color: #fff;
    text-align: center;
  }
  
  .projects h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  
  .projects p {
    font-size: 1rem;
  }
  